body{
    background-color: #0f0f0fbd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f0f0f0;
}

.header{
    width: 100%;
    height: 100px;
    background: linear-gradient(#09218b, #5b9ebd);
    border: solid 2px #1c4272;
    border-radius: 30px;
    margin-bottom: auto;
    justify-content:center;
    color: rgb(255, 255, 255);
    font-size:larger;
    display: flex;
}

.headerlogo{
    padding: 30px;
}

.headertext{
    width: 60%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 40px;
    color: #0f0f0f;
}

.headerbuttons{
    width: 20%;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
    display: flex;
}

.descricao{
    color: #b6eef1;
    ;
}

.card_peixe{
    width: 300px;
    height: 450px;
    background-color: #226366;
    border-radius: 15px;
    border: solid 2px #09218b;
    margin: 30px;
    color: aliceblue;
}


.card_name{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1c4272;
}

.card_descrip{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descript_text{
    width: 100%;
    height: 80%;
}

.card_size, .card_local{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-acao:hover{
    background-color: #221e1e;
    color: #c30202;
}

#botao_home{
    background-color: #0f0f0f;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    padding: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.corpo{
    display: flex;
    margin: 5%;
    font-size: small;
}